<header class="header-container">
    <div class="logo">
        <img 
            src="https://png.pngtree.com/png-clipart/20230312/original/pngtree-food-logo-design-for-restaurant-and-business-png-image_8985085.png"
            style="width: 100px; height: 100px;"
        />
    </div>

    <div class="app-title">
        <h1>Angular POC Restaurant</h1>
    </div>
    
    <div class="nav-links">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active-router">Contact</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active-router">About</a>
        <button class="nav-link login-button">Login</button>
    </div>
</header>