<div class="res-card" (click)="navigate()">
    <h2 class="res-card-header">{{ resName }}</h2>
    <p class="res-card-details"><strong style="color: rgb(0, 0, 0);">Cuisine:</strong> {{ resCuisine }}</p>
    <p class="res-card-details"><strong style="color: rgb(0, 0, 0);">Address:</strong> {{ resAddress }}</p>
    <p class="res-card-details"><strong style="color: rgb(0, 0, 0);">City:</strong> {{ resCity }}</p>
    <p class="res-card-rating"><strong style="color: rgb(0, 0, 0);">Rating:</strong> {{ resRating }}</p>
</div>